
  .navbar-brand, .nav-link-custom {
    color: white !important; 
    position: relative;
    font-size: 18px;
  }
  
  .nav-link-custom:hover {
    color: gray;
  }
  h1{
    font-size: 25px;
  }
  .nav-link-custom.active {
    color: white;
  }
  
  .navbar-toggler{
    color: #fff;
  }
  .nav-link-custom .underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  
  .nav-link-custom.active .underline,
  .nav-link-custom:hover .underline {
    visibility: visible;
  }
  